# .gitignore
data/
meta_data/
debug_data/
debug_scripts/
tmp_data/
evaluation/
ground_truth/
supervised_fine_tuning/
graph_rag/
chroma_db/
notes/
logs/
.env
.venv
.claude/
venv/
log*.txt
__pycache__/
test.py
*notes.txt
*.zip
requirements.txt
BARTScore/*